{% extends 'front/base.html' %}
{% load static i18n component_tags %}
{% block title %} {{blog.title}} - {{seo_settings.meta_title}} {% endblock title %}
{% block title1 %} {{blog.title}} - {{seo_settings.meta_title}} {% endblock title1 %}
{% block title2 %} {{blog.title}} - {{seo_settings.meta_title}} {% endblock title2 %}
{% block content %}
<style>
    .breadcrumb-cnt h3{
        color:#75dab4;
    }
</style>
    <main class="creasoft-wrap">

        <div class="line_wrap">
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
        </div>


        <section class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-cnt">
                                <h3 data-inline-field="title" data-inline-api="/api/blogs/" data-inline-id="{{ blog.id }}">{{ blog.title }}</h3>
                                <span><a href="{% url "homePageFront" %}">{% trans "Home" %}</a><i class="bi bi-arrow-right"></i>{% trans "Blog" %}<i class="bi bi-arrow-right"></i><span data-inline-field="title" data-inline-api="/api/blogs/" data-inline-id="{{ blog.id }}">{{ blog.title }}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="blog-details-area sec-mar-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details-content">
                            <h3 data-inline-field="title" data-inline-api="/api/blogs/" data-inline-id="{{ blog.id }}">{{ blog.title }}</h3>
                            <div class="author-date layout2">
                                {% if blog.author %}
                                <a href="#">{% trans "By" %}, <span data-inline-field="author" data-inline-api="/api/blogs/" data-inline-id="{{ blog.id }}">{{ blog.author }}</span></a>
                                {% endif %}
                                <a href="#">{{ blog.created_at }}</a>
                            </div>
                            <div class="details-thumb">
                                <img src="{{ blog.getTHumb }}" style="border-radius:10px;" alt="thumbnail">
                            </div>
                            <div id="blog-desc-{{ blog.id }}" data-inline-rich="true" data-inline-field="description" data-inline-api="/api/blogs/" data-inline-id="{{ blog.id }}">
                                {{ blog.description|safe }}
                            </div>

                            <div class="sec-mar-top">
                                {% component "whatsapp_sim"
                                    title=blog_sample_conversation.title|default:_("WhatsApp-style chat replay")
                                    subtitle=blog_sample_conversation.subtitle|default:_("Auto-generated from this post's sample conversation")
                                    sample_text=blog_sample_conversation_whatsapp
                                    primary_author=blog.author|default:"Author"
                                    replay_type="word"
                                %}{% endcomponent %}
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar-widget">
                            <div class="widget-search">
                                <form action="{% url "blogPageFront" %}" method="GET">
                                    <input type="text" name="search" value="{{ request.GET.search }}" placeholder="{% trans 'Search Here' %}">
                                    <button type="submit"><i class="bi bi-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>{% trans "Categories" %}</h4>
                            <ul class="category">
                                {% for category in categories %}
                                    <li><a href="{% url "blogsByCategory" category.slug %}"><span data-inline-field="title" data-inline-api="/api/blog-categories/" data-inline-id="{{ category.id }}">{{ category.title }}</span><i class="bi bi-arrow-right"></i></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>{% trans "Newest Post" %}</h4>
                            {% for blog in blogs|slice:":10" %}
                                <div class="recent-post">
                                    <div class="recent-thumb">
                                        <a href="{% url "blogDetails" blog.slug %}"><img src="{{ blog.getTHumb }}" style="border-radius:5px;" alt="thumbnail"></a>
                                    </div>
                                    <div class="recent-post-cnt">
                                        <span>{{ blog.created_at }}</span>
                                        <h5><a href="{% url "blogDetails" blog.slug %}"><span data-inline-field="title" data-inline-api="/api/blogs/" data-inline-id="{{ blog.id }}">{{ blog.title }}</span></a></h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
