{% extends 'front/base.html' %}
{% load static i18n %}
{% block title %} {{project.title}} - {{seo_settings.meta_title}} {% endblock title %}
{% block title1 %} {{project.title}} - {{seo_settings.meta_title}} {% endblock title1 %}
{% block title2 %} {{project.title}} - {{seo_settings.meta_title}} {% endblock title2 %}
{% block content %}
    <main class="creasoft-wrap">

        <div class="line_wrap">
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
        </div>


        <section class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-cnt">
                                <h1 data-inline-field="title" data-inline-api="/api/projects/" data-inline-id="{{ project.id }}">{{ project.title }}</h1>
                                <span><a href="{% url "homePageFront" %}">{% trans "Home" %}</a><i class="bi bi-arrow-right"></i>{% trans "Project" %}<i class="bi bi-arrow-right"></i><span data-inline-field="title" data-inline-api="/api/projects/" data-inline-id="{{ project.id }}">{{ project.title }}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="project-details sec-mar-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="project-details-content">
                            {% if project.title %}
                            <h3 data-inline-field="title" data-inline-api="/api/projects/" data-inline-id="{{ project.id }}">{{ project.title }}</h3>
                            {% endif %}
                            <div id="project-desc-{{ project.id }}" data-inline-rich="true" data-inline-field="description" data-inline-api="/api/projects/" data-inline-id="{{ project.id }}">
                                {{ project.description|safe }}
                            </div>
                            <div class="project-thumb mt-4">
                                <img src="{{ project.getProjectImage }}" style="width:400px;  border-radius:10px;" alt="project">
                                {% if project.category %}
                                <div class="tag">
                                    <a href=""><span data-inline-field="name" data-inline-api="/api/project-categories/" data-inline-id="{{ project.category.id }}">{{ project.category }}</span></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar-widget">
                            {% if project.category %}
                            <div class="client-box">
                                <span>{% trans "Category:" %}</span>
                                <h5><span data-inline-field="name" data-inline-api="/api/project-categories/" data-inline-id="{{ project.category.id }}">{{ project.category }}</span></h5>
                            </div>
                            {% endif %}
                            {% if project.client %}
                            <div class="client-box">
                                <span>{% trans "Client:" %}</span>
                                <h5 data-inline-field="client" data-inline-api="/api/projects/" data-inline-id="{{ project.id }}">{{ project.client }}</h5>
                            </div>
                            {% endif %}
                            {% if project.company %}
                            <div class="client-box">
                                <span>{% trans "Company:" %}</span>
                                <h5 data-inline-field="company" data-inline-api="/api/projects/" data-inline-id="{{ project.id }}">{{ project.company }}</h5>
                            </div>
                            {% endif %}
                            {% if project.duration %}
                            <div class="client-box">
                                <span>{% trans "Duration:" %}</span>
                                <h5 data-inline-field="duration" data-inline-api="/api/projects/" data-inline-id="{{ project.id }}">{{ project.duration }}</h5>
                            </div>
                            {% endif %}
                        </div>
                        <div class="sidebar-widget">
                            <div class="contact-info">
                                <h3>{% trans "Need help?" %}</h3>
                                <p>{% trans "Please feel free to contact with us. We are here to help you." %}</p>
                                <div class="cmpy-info">
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="cnt">
                                        <h5>{% trans "Location" %}</h5>
                                        <p>{{settings.address}}, {{settings.city}}-{{settings.postal}}, {{settings.state}}, {{settings.country}}</p>
                                    </div>
                                </div>
                                <div class="cmpy-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="cnt">
                                        <h5>{% trans "Phone" %}</h5>
                                        <a href="tel:{{ settings.phone }}">{{ settings.phone }}</a>
                                    </div>
                                </div>
                                <div class="cmpy-info">
                                    <div class="icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="cnt">
                                        <h5>{% trans "Email" %}</h5>
                                        <a href="mailto:{{ settings.email_address }}"><span class="__cf_email__"
                                            data-cfemail="630a0d050c23061b020e130f064d000c0e">{{ settings.email_address }}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if settings.show_call_now_widget %}
                            <div class="sidebar-banner">
                                <img src="{% static 'front/assets/img/widget-banner-bg.jpg' %}" alt>
                                <div class="banner-inner">
                                    <h3>{% trans "Any Project" %} <span>{% trans "Call Now." %}</span>
                                        <img class="angle" src="{% static 'front/assets/img/arrow-angle.png' %}" alt>
                                    </h3>
                                    <a href="tel:{{settings.phone}}">{{settings.phone}}</a>
                                </div>
                            </div>
                    {% endif %}
                    </div>
                    <div class="project-slider">
                        <h4>{% trans "Other Projects" %}</h4>
                        <div class="arrow">
                            <div class="swiper-button-next-c"><i class="bi bi-arrow-right"></i></div>
                            <div class="swiper-button-prev-c"><i class="bi bi-arrow-left"></i></div>
                        </div>
                        <div class="swiper project-slide">
                            <div class="swiper-wrapper">
                                {% for project in projects|slice:":3" %}
                                    <div class="swiper-slide">
                                        <div class="single-item">
                                            <div class="item-img">
                                                <a href="{% url "projectDetails" project.slug %}"><img src="{{ project.getProjectImage }}"
                                                        alt></a>
                                            </div>
                                            <div class="item-inner-cnt">
                                                {% if project.category %}
                                                <span data-inline-field="name" data-inline-api="/api/project-categories/" data-inline-id="{{ project.category.id }}">{{ project.category }}</span>
                                                {% endif %}
                                                <h4 data-inline-field="title" data-inline-api="/api/projects/" data-inline-id="{{ project.id }}">{{ project.title }}</h4>
                                                <div class="view-btn">
                                                    <a href="{% url "projectDetails" project.slug %}">view details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
